

body {
  margin: .6rem;
  padding: 0;
  font-family: sans-serif;
  width: 99%;
}

@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'), url('./fonts/PermanentMarker/PermanentMarker.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: local('Overpass'), url('./fonts/Overpass/Overpass-ExtraBold.ttf') format('truetype');
}
